@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

*{
    box-sizing: boarder-box;
    font-family: Raleway;
    color: 777;
}

html, body {
    margin: 0;
    padding: 0;
}

.nav ul{
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: green;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 2.1em;
    border-bottom: 1px solid rgba(222, 222, 222);
}
.nav a:hover {
    background-color: rgba(22, 21, 21, 0.3);
}

.main-nav li {
    padding: 0 1%;

}

.main-header {
background-color: rgba(198, 193, 193, 0.6);
background-image: url(/Users/collinrausch/Desktop/Garveys-Plumbing/garveysplumbing/van.JPG); 
background-blend-mode: multiply;
background-size: cover;
padding-bottom: 5px;
}

/* .name {
    text-align: center;
    margin: 0;
    font-size: 4em;
}*/

.content-section {
    margin: 2.1em;
}

